<div id="footer">
  <p>Created by <%= link_to "Eric Hurst", "http://www.erichurst.com" %> (<%= link_to "@eH", "http://www.twitter.com/eH" %>). Hosted at <%= link_to "Heroku", "http://heroku.com/" %>. Available at <%= link_to "GitHub", "http://github.com/erichurst/Hexminr/tree/master" %>. &copy;<%= display_year %> and all that junk.</p>
</div>
